<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <dependency>
        <groupId>org.mindrot</groupId>
        <artifactId>jbcrypt</artifactId>
        <version>0.4</version>
    </dependency>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filter.StaffFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/staff</url-pattern>
        <url-pattern>/staff.jsp</url-pattern>
        <url-pattern>/addStaff</url-pattern>
        <url-pattern>/deleteStaff</url-pattern>
        <url-pattern>/editStaff</url-pattern>
        <url-pattern>/add-staff.jsp</url-pattern>
        <url-pattern>/edit-staff.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Add_Blog</servlet-name>
        <servlet-class>blog.Add_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBlog</servlet-name>
        <servlet-class>blog.addBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appointment</servlet-name>
        <servlet-class>Appointment.Appointment</servlet-class>
    </servlet>
   
   
    <servlet-mapping>
        <servlet-name>Add_Blog</servlet-name>
        <url-pattern>/add_Blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBlog</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appointment</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index_1.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>CustomerController.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServet</servlet-name>
        <servlet-class>CustomerController.RegisterServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>CustomerController.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>CustomerController.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPassword</servlet-name>
        <servlet-class>CustomerController.RequestPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
</web-app>